@font-face {
    font-family: Norse-Bold;
    src: url(./Norse-Bold.otf);
}

body {
    background-color: white;
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-seril;
}

.main {

    display: flex;
    flex-direction: row;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(246, 246, 246);
}


.left {
    background-image: url("/halie-west-25xggax4bSA-unsplash.jpg");
    min-height: 100vh;
    min-width: 30vw;
    max-width: 39vw;
    background-size: cover;


}

.right {
    margin: 10vh 0vh 20vh 0vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.summary {
    margin: 0 10vh 0 7vw;
    padding-bottom: 5%;
    font-size: 1.5rem;
    font-weight: 550;
}

.summary div:last-child {
    padding-top: 5vh;
}

#action {
    display: flex;
    font-size: 1.5rem;
    margin-left: 1vw;
    padding: 3vh 6.5vw;
    font-weight: 400;

}

.middle {
    background-color: white;
    box-shadow: 2px 5px 7px rgb(216, 215, 215);
}

.middle form {
    margin: 0 20vw 0 1vw;
    padding-bottom: 0%;
    display: flex;
    justify-content: space-evenly;

}

.middle form div {
    min-width: 15vw;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
}

.middle form div input {
    min-height: 2vh;
    min-width: 7vw;
    margin-bottom: 2vh;
    border: 1px solid;
    border-color: #E5E7EB;
    border-radius: 4px;

}

#password {
    margin-bottom: 0;
}

.middle form div input:focus {
    outline: none;
    border: 2px solid blue;
}

input:invalid {
    outline: none;
    border: 1px solid red;

}

.bottom {
    margin-left: 1vw;
    padding: 3vh 6.5vw;
}

.bottom button {
    background-color: #596D48;
    padding: 2% 10%;
    border: none;
    border-radius: 5px;
    color: white;
    box-shadow: 2px 2px 5px gray;
}

.bottom div {
    margin-top: 4vh;
}

#transparent {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:25vh;
    min-height:15vh;
    background:rgb(0, 0, 0 ,.6);
}

#transparent img {
  filter: brightness(0) invert(1);
}
